{:paths ["src" "test" ".convocli"]
 :deps {io.github.TimoKramer/charm.clj {:git/tag "v0.2.71" :git/sha "38e6823dc85ec932eefe2ad9c1f204307674c24f"}}
 :bbin/bin {convocli {:main-opts ["-m" "convocli.core"]}}
 :tasks
 {test {:doc  "Run the test suite"
        :requires ([clojure.test :as t] [convocli.core-test])
        :task (let [{:keys [fail error]} (t/run-tests 'convocli.core-test)]
                (System/exit (if (zero? (+ fail error)) 0 1)))}
  run  {:doc              "Run the ConvoCLI"
        :override-builtin true
        :requires         ([convocli.core])
        :task             (convocli.core/-main)}}}
