{:paths ["src" "test"]
 :deps {io.github.TimoKramer/charm.clj {:git/tag "v0.2.71" :git/sha "38e6823dc85ec932eefe2ad9c1f204307674c24f"}}
 :tasks
 {test {:doc  "Run the test suite"
        :task (exec 'emcli.test-runner/run)
        :requires ([emcli.test-runner])}
  run  {:doc              "Run the ConvoCLI"
        :override-builtin true
        :requires         ([convocli.core])
        :task             (convocli.core/-main)}}}
